###  Prediction of Rating of delivery person rating using various factors and finding wheather do these factors affect rating of Delivery person or not.

In [114]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [115]:
data = pd.read_csv("C:/Users/Dell/Desktop/dataset for practice/cleaned_test.csv")

In [116]:
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Name:
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05,NaN,NaN,3,Drinks,electric_scooter,1.0,No,Metropolitian,object
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian,object
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,object
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,object
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,object

In [117]:
data.info

<bound method DataFrame.info of            ID Delivery_person_ID  Delivery_person_Age  \
0      0x2318    COIMBRES13DEL01                  NaN
1      0x3474     BANGRES15DEL01                 28.0
2      0x9420      JAPRES09DEL03                 23.0
3      0x72ee      JAPRES07DEL03                 21.0
4      0xa759     CHENRES19DEL01                 31.0
...       ...                ...                  ...
11394  0x6909      JAPRES01DEL01                 35.0
11395  0x443b      JAPRES11DEL01                 33.0
11396  0x1ea5      SURRES11DEL03                  NaN
11397  0x22d4      VADRES03DEL02                 27.0
11398  0xb7be     CHENRES07DEL02                 39.0

       Delivery_person_Ratings  Restaurant_latitude  Restaurant_longitude  \
0                          NaN            11.003669             76.976494
1                          4.6            12.975377             77.696664
2                          4.5            26.911378             75.789034
3                          4.8            26.766536             75.837333
4                          4.6            12.986047             80.218114
...                        ...                  ...                   ...
11394                      4.6            26.905190             75.810753
11395                      4.9            26.902940             75.793007
11396                      NaN            21.157735             72.768778
11397                      4.7            22.320000             73.170000
11398                      5.0            13.081878             80.248519

       Delivery_location_latitude  Delivery_location_longitude  Order_Date  \
0                       11.043669                    77.016494  30-03-2022
1                       13.085377                    77.806664  29-03-2022
2                       27.001378                    75.879034  10-03-2022
3                       26.856536                    75.927333  02-04-2022
4                       13.096047                    80.328114  27-03-2022
...                           ...                          ...         ...
11394                   27.015190                    75.920753  27-03-2022
11395                   26.912940                    75.803007  11-03-2022
11396                   21.217735                    72.828778  11-03-2022
11397                   22.450000                    73.300000  06-03-2022
11398                   13.131878                    80.298519  24-03-2022

      Time_Orderd Time_Order_picked     Weather Road_traffic_density  \
0             NaN             15:05         NaN                  NaN
1           20:30             20:35       Windy                  Jam
2           19:35             19:45      Stormy                  Jam
3           17:15             17:20         Fog               Medium
4           18:25             18:40       Sunny               Medium
...           ...               ...         ...                  ...
11394       21:35             21:45       Sunny                  Jam
11395       11:40             11:45  Sandstorms                 High
11396         NaN             21:05         NaN                  NaN
11397       18:35             18:40  Sandstorms               Medium
11398       22:20             22:25       Windy                  Low

       Vehicle_condition Type_of_order   Type_of_vehicle  multiple_deliveries  \
0                      3        Drinks  electric_scooter                  1.0
1                      0         Snack        motorcycle                  1.0
2                      0        Drinks        motorcycle                  1.0
3                      1          Meal           scooter                  1.0
4                      2        Drinks           scooter                  1.0
...                  ...           ...               ...                  ...
11394                  1         Snack           scooter                  1.0
11395                  1        Drinks           scooter                  1.0
11396                  3        Drinks           scooter                  1.0
11397                  0          Meal        motorcycle                  0.0
11398                  2        Drinks        motorcycle                  1.0

      Festival           City   Name:
0           No  Metropolitian  object
1           No  Metropolitian  object
2           No  Metropolitian  object
3           No  Metropolitian  object
4           No  Metropolitian  object
...        ...            ...     ...
11394       No  Metropolitian  object
11395       No  Metropolitian  object
11396       No  Metropolitian  object
11397       No  Metropolitian  object
11398       No          Urban  object

[11399 rows x 20 columns]>

In [118]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           11399 non-null  object
 1   Delivery_person_ID           11399 non-null  object
 2   Delivery_person_Age          10908 non-null  float64
 3   Delivery_person_Ratings      10892 non-null  float64
 4   Restaurant_latitude          11399 non-null  float64
 5   Restaurant_longitude         11399 non-null  float64
 6   Delivery_location_latitude   11399 non-null  float64
 7   Delivery_location_longitude  11399 non-null  float64
 8   Order_Date                   11399 non-null  object
 9   Time_Orderd                  10955 non-null  object
 10  Time_Order_picked            11399 non-null  object
 11  Weather                      11241 non-null  object
 12  Road_traffic_density         11245 non-null  object
 13  Vehicle_condition            11399 non-null  int64
 14  Type_of_order                11399 non-null  object
 15  Type_of_vehicle              11399 non-null  object
 16  multiple_deliveries          11161 non-null  float64
 17  Festival                     11334 non-null  object
 18  City                         11075 non-null  object
 19  Name:                        11399 non-null  object
dtypes: float64(7), int64(1), object(12)
memory usage: 1.7+ MB

In [119]:
data.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age            491
Delivery_person_Ratings        507
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                    444
Time_Order_picked                0
Weather                        158
Road_traffic_density           154
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries            238
Festival                        65
City                           324
Name:                            0
dtype: int64

In [120]:
data = data.drop(['Delivery_person_ID','Name:'],axis = 1)

In [121]:
data.isnull().sum()

ID                               0
Delivery_person_Age            491
Delivery_person_Ratings        507
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                    444
Time_Order_picked                0
Weather                        158
Road_traffic_density           154
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries            238
Festival                        65
City                           324
dtype: int64

In [122]:
data = data.dropna()

In [123]:
data.isnull().sum()

ID                             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weather                        0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
dtype: int64

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10291 entries, 1 to 11398
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           10291 non-null  object
 1   Delivery_person_Age          10291 non-null  float64
 2   Delivery_person_Ratings      10291 non-null  float64
 3   Restaurant_latitude          10291 non-null  float64
 4   Restaurant_longitude         10291 non-null  float64
 5   Delivery_location_latitude   10291 non-null  float64
 6   Delivery_location_longitude  10291 non-null  float64
 7   Order_Date                   10291 non-null  object
 8   Time_Orderd                  10291 non-null  object
 9   Time_Order_picked            10291 non-null  object
 10  Weather                      10291 non-null  object
 11  Road_traffic_density         10291 non-null  object
 12  Vehicle_condition            10291 non-null  int64
 13  Type_of_order                10291 non-null  object
 14  Type_of_vehicle              10291 non-null  object
 15  multiple_deliveries          10291 non-null  float64
 16  Festival                     10291 non-null  object
 17  City                         10291 non-null  object
dtypes: float64(7), int64(1), object(10)
memory usage: 1.5+ MB

In [125]:
data.head()

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,0x3474,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian
2,0x9420,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian
3,0x72ee,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian
4,0xa759,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian
5,0xc4af,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian

In [126]:
data = data.drop(['Delivery_person_Age'],axis = 1)

In [127]:
data= data.drop(['ID'], axis = 1)

In [128]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,Windy,Low,2,Snack,scooter,1.0,No,Metropolitian
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,Sandstorms,High,1,Drinks,scooter,1.0,No,Metropolitian
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,Windy,Low,2,Drinks,motorcycle,1.0,No,Urban

In [129]:
data['Weather'].value_counts()

Weather
Windy         1779
Sunny         1769
Sandstorms    1722
Cloudy        1718
Stormy        1667
Fog           1636
Name: count, dtype: int64

In [130]:
data.loc[:, 'Weather'] = data['Weather'].map({'Windy':1, 'Sunny':2, 'Sandstorms':3, 'Cloudy':4, 'Stormy':5, 'Fog': 6})

In [131]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,Jam,0,Snack,motorcycle,1.0,No,Metropolitian
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,Medium,1,Meal,scooter,1.0,No,Metropolitian
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,Medium,2,Drinks,scooter,1.0,No,Metropolitian
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,Low,0,Drinks,motorcycle,1.0,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,1,Low,2,Snack,scooter,1.0,No,Metropolitian
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,2,Jam,1,Snack,scooter,1.0,No,Metropolitian
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,3,High,1,Drinks,scooter,1.0,No,Metropolitian
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,3,Medium,0,Meal,motorcycle,0.0,No,Metropolitian
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,1,Low,2,Drinks,motorcycle,1.0,No,Urban

In [132]:
data['Road_traffic_density'].value_counts()

Road_traffic_density
Low       3491
Jam       3229
Medium    2546
High      1025
Name: count, dtype: int64

In [133]:
data.loc[:, 'Road_traffic_density'] = data['Road_traffic_density'].map({'Low':1, 'Jam':2, 'Medium':3, 'High':4})

In [134]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,2,0,Snack,motorcycle,1.0,No,Metropolitian
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,2,0,Drinks,motorcycle,1.0,No,Metropolitian
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,3,1,Meal,scooter,1.0,No,Metropolitian
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,3,2,Drinks,scooter,1.0,No,Metropolitian
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,1,0,Drinks,motorcycle,1.0,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,1,1,2,Snack,scooter,1.0,No,Metropolitian
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,2,2,1,Snack,scooter,1.0,No,Metropolitian
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,3,4,1,Drinks,scooter,1.0,No,Metropolitian
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,3,3,0,Meal,motorcycle,0.0,No,Metropolitian
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,1,1,2,Drinks,motorcycle,1.0,No,Urban

In [135]:
data['Type_of_order'].value_counts()

Type_of_order
Drinks    2635
Buffet    2595
Snack     2536
Meal      2525
Name: count, dtype: int64

In [136]:
data.loc[:, 'Type_of_order'] = data['Type_of_order'].map({'Drinks':1,'Buffet':2,'Snack':3,'Meal':4})

In [137]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,2,0,3,motorcycle,1.0,No,Metropolitian
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,2,0,1,motorcycle,1.0,No,Metropolitian
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,3,1,4,scooter,1.0,No,Metropolitian
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,3,2,1,scooter,1.0,No,Metropolitian
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,1,0,1,motorcycle,1.0,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,1,1,2,3,scooter,1.0,No,Metropolitian
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,2,2,1,3,scooter,1.0,No,Metropolitian
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,3,4,1,1,scooter,1.0,No,Metropolitian
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,3,3,0,4,motorcycle,0.0,No,Metropolitian
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,1,1,2,1,motorcycle,1.0,No,Urban

In [138]:
data['Type_of_vehicle'].value_counts()

Type_of_vehicle
motorcycle          6062
scooter             3425
electric_scooter     804
Name: count, dtype: int64

In [139]:
data.loc[:, 'Type_of_vehicle']= data['Type_of_vehicle'].map({'motorcycle':1, 'scooter':2, 'electric_scooter':3})

In [140]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,2,0,3,1,1.0,No,Metropolitian
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,2,0,1,1,1.0,No,Metropolitian
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,3,1,4,2,1.0,No,Metropolitian
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,3,2,1,2,1.0,No,Metropolitian
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,1,0,1,1,1.0,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,1,1,2,3,2,1.0,No,Metropolitian
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,2,2,1,3,2,1.0,No,Metropolitian
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,3,4,1,1,2,1.0,No,Metropolitian
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,3,3,0,4,1,0.0,No,Metropolitian
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,1,1,2,1,1,1.0,No,Urban

In [141]:
data['Festival'].value_counts()

Festival
No     10095
Yes      196
Name: count, dtype: int64

In [142]:
data.loc[:, 'Festival']= data['Festival'].map({'No':1, 'Yes':2})

In [143]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,2,0,3,1,1.0,1,Metropolitian
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,2,0,1,1,1.0,1,Metropolitian
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,3,1,4,2,1.0,1,Metropolitian
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,3,2,1,2,1.0,1,Metropolitian
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,1,0,1,1,1.0,1,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,1,1,2,3,2,1.0,1,Metropolitian
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,2,2,1,3,2,1.0,1,Metropolitian
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,3,4,1,1,2,1.0,1,Metropolitian
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,3,3,0,4,1,0.0,1,Metropolitian
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,1,1,2,1,1,1.0,1,Urban

In [144]:
data['City'].value_counts()

City
Metropolitian    7894
Urban            2352
Semi-Urban         45
Name: count, dtype: int64

In [145]:
data.loc[:, 'City']= data['City'].map({'Metropolitian':1, 'Urban':2, 'Semi-Urban':3})

In [146]:
data

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,2,0,3,1,1.0,1,1
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,2,0,1,1,1.0,1,1
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,3,1,4,2,1.0,1,1
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,3,2,1,2,1.0,1,1
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,1,0,1,1,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,10:60,11:10,1,1,2,3,2,1.0,1,1
11394,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35,21:45,2,2,1,3,2,1.0,1,1
11395,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40,11:45,3,4,1,1,2,1.0,1,1
11397,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35,18:40,3,3,0,4,1,0.0,1,1
11398,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20,22:25,1,1,2,1,1,1.0,1,2

In [147]:
data.head()

,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30,20:35,1,2,0,3,1,1.0,1,1
2,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35,19:45,5,2,0,1,1,1.0,1,1
3,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15,17:20,6,3,1,4,2,1.0,1,1
4,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25,18:40,2,3,2,1,2,1.0,1,1
5,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,9:45,9:55,6,1,0,1,1,1.0,1,1

In [148]:
data = data.drop(['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude'], axis = 1)

In [149]:
data

,Delivery_person_Ratings,Order_Date,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,29-03-2022,20:30,20:35,1,2,0,3,1,1.0,1,1
2,4.5,10-03-2022,19:35,19:45,5,2,0,1,1,1.0,1,1
3,4.8,02-04-2022,17:15,17:20,6,3,1,4,2,1.0,1,1
4,4.6,27-03-2022,18:25,18:40,2,3,2,1,2,1.0,1,1
5,4.7,15-02-2022,9:45,9:55,6,1,0,1,1,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,13-02-2022,10:60,11:10,1,1,2,3,2,1.0,1,1
11394,4.6,27-03-2022,21:35,21:45,2,2,1,3,2,1.0,1,1
11395,4.9,11-03-2022,11:40,11:45,3,4,1,1,2,1.0,1,1
11397,4.7,06-03-2022,18:35,18:40,3,3,0,4,1,0.0,1,1
11398,5.0,24-03-2022,22:20,22:25,1,1,2,1,1,1.0,1,2

In [150]:
data = data.drop(['Order_Date'], axis = 1)

In [151]:
data

,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,20:30,20:35,1,2,0,3,1,1.0,1,1
2,4.5,19:35,19:45,5,2,0,1,1,1.0,1,1
3,4.8,17:15,17:20,6,3,1,4,2,1.0,1,1
4,4.6,18:25,18:40,2,3,2,1,2,1.0,1,1
5,4.7,9:45,9:55,6,1,0,1,1,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
11393,4.7,10:60,11:10,1,1,2,3,2,1.0,1,1
11394,4.6,21:35,21:45,2,2,1,3,2,1.0,1,1
11395,4.9,11:40,11:45,3,4,1,1,2,1.0,1,1
11397,4.7,18:35,18:40,3,3,0,4,1,0.0,1,1
11398,5.0,22:20,22:25,1,1,2,1,1,1.0,1,2

In [173]:
data = data.drop(['Time_Orderd','Time_Order_picked'], axis = 1)

In [174]:
data

,Delivery_person_Ratings,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,4.6,1,2,0,3,1,1.0,1,1
2,4.5,5,2,0,1,1,1.0,1,1
3,4.8,6,3,1,4,2,1.0,1,1
4,4.6,2,3,2,1,2,1.0,1,1
5,4.7,6,1,0,1,1,1.0,1,1
...,...,...,...,...,...,...,...,...,...
11393,4.7,1,1,2,3,2,1.0,1,1
11394,4.6,2,2,1,3,2,1.0,1,1
11395,4.9,3,4,1,1,2,1.0,1,1
11397,4.7,3,3,0,4,1,0.0,1,1
11398,5.0,1,1,2,1,1,1.0,1,2

In [178]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [179]:
y = data['Delivery_person_Ratings']
y

1        4.6
2        4.5
3        4.8
4        4.6
5        4.7
        ...
11393    4.7
11394    4.6
11395    4.9
11397    4.7
11398    5.0
Name: Delivery_person_Ratings, Length: 10291, dtype: float64

In [180]:
x = data.drop(['Delivery_person_Ratings'], axis = 1)
x

,Weather,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,1,2,0,3,1,1.0,1,1
2,5,2,0,1,1,1.0,1,1
3,6,3,1,4,2,1.0,1,1
4,2,3,2,1,2,1.0,1,1
5,6,1,0,1,1,1.0,1,1
...,...,...,...,...,...,...,...,...
11393,1,1,2,3,2,1.0,1,1
11394,2,2,1,3,2,1.0,1,1
11395,3,4,1,1,2,1.0,1,1
11397,3,3,0,4,1,0.0,1,1
11398,1,1,2,1,1,1.0,1,2

In [227]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 100)

In [228]:
model = DecisionTreeRegressor()

In [229]:
model_prep = model.fit(x_train,y_train)

In [230]:
y_predict= model_prep.predict(x_test)

In [231]:
from sklearn.metrics import mean_squared_error

In [232]:
MSE = mean_squared_error(y_test, y_predict)
print("Mean Squared Error:", MSE)

Mean Squared Error: 0.12936071930083173

In [233]:
import numpy as np

In [234]:
rmse = np.sqrt(MSE)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 0.3596675121564801

In [235]:
from sklearn.metrics import mean_absolute_error

In [236]:
mae = mean_absolute_error(y_test, y_predict)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.26062078044876846

In [237]:
from sklearn.metrics import r2_score

In [238]:
r2 = r2_score(y_test, y_predict)
print("R-squared:", r2)

R-squared: -0.10248817199782168

we'll be using different models to check wheather they fit here better or not.

##### Using Random Forest

In [239]:
from sklearn.ensemble import RandomForestRegressor

In [241]:
model = RandomForestRegressor(n_estimators=100, random_state=50)
model.fit(x_train, y_train)

RandomForestRegressor(random_state=50)

In [242]:
model_prediction = model.predict(x_test)

In [243]:
mse = mean_squared_error(y_test, model_prediction)
r2 = r2_score(y_test, model_prediction)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 0.11819235523353196
R-squared: -0.0073048014096501745

##### Using Linear Regression

In [244]:
from sklearn.linear_model import LinearRegression

In [249]:
regr = LinearRegression()
regr.fit(x_train,y_train)
Y_pred = regr.predict(x_test)

In [250]:
MEAN = mean_squared_error(y_test,Y_pred)
R2 = r2_score(y_test,Y_pred)

print("Mean Squared Error:", MEAN)
print("R-squared:", R2)

Mean Squared Error: 0.11383440747896481
R-squared: 0.02983619378241842

### Conclusion:

It can be seen that Linear Regression is a better prediction model comparing to Decision Tree or Random Forest as the showed R2 being negative whereas R2 shifted to positive (i.e. 0.029)in Linear Regression telling that Linear Regression is a better predictor.

Though this is a room for improvement and various other models can be tested to find a better accuracy.